.card {
  display: flex;
  align-items: center;
  justify-content: center;
  .subCard {
    height: 60vh;
    width: 20vw;
    border: 1px solid black;
    .cardIcon {
      display: flex;
      justify-content: space-between;
      margin: 1px 1px;
      .icon {
        font-size: 24px;
      }
    }
  }

  .cardContent {
    position: relative;
    margin-top: 5px;
    height: 50vh;
    width: 20vw;

    .cards {
      position: absolute;
      img {
        height: 100%;
        width: 100%;
      }

      .pre-btn,
      .nxt-btn {
        justify-content: center;
        align-items: center;
        display: flex;
        z-index: 1000;

        .icon {
          font-size: 24px;
        }
      }
    }
  }

  .cardText {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mycard {
  position: absolute;
  height: 50vh;
  width: 20vw;

  img {
    height: 100%;
    width: 100%;
  }
}

.product-container {
  padding: 0 10px;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
